@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    background: hsl(0, 0%, 100%);
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 2rem;
    padding: 1rem 1rem 1.5rem;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 3rem;
}

main img {
    width: 100%;
    border-radius: 15px;
}

main h1 {
   font-size: 25px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 1rem;
}

main p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin: 0 23px;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
